@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-destaque: passion one, cursive;
    --font-corpo: sriracha, cursive;
}

body{
    min-height: 100vh;
    background-color: white;
    margin: 0;
   
}

header{
   
    background-color: black;

}

header h1{
    color: white;
    padding-top: 50px;
    margin: 0;
    font-family: var(--font-destaque);
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
}



header p{
    color: white;
    font-family: var(--fonte-padrao);    
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 0px 0px  50px;
    margin: 0;
}

a{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    text-decoration: none;

}
section{
    font-family: var(--font-corpo);
    font-size: 3.5vw;
    line-height: 2;
    padding:60px 0px 60px 30px
    

    
}

footer{
    color: white;
    background-color: black;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 10px;
    display: block;
    margin: 0%;
}

footer p{
    margin: 0;
}